.colores{
color: aqua;
background-color: blueviolet;
transition: 2s;
}

#uno{width: 200px; height:200px; background-color: green;}
#dos{width: 150px; height:150px; background-color: blue;}
#tres{width: 100px; height:100px; background-color: violet;}


